{{!< main}}
<div class="wrapper">
    <div class="form__container">
        {{> 'title/title' title='Вход'}}
        {{> 'input/input' title='Логин:' placeholder-text='введите логин' input-name='login'}}
        {{> 'input/input' title='Пароль:' placeholder-text='введите пароль' input-name='password'}}
        {{> 'button/button' title='Войти'}}
        {{> 'link/link' title='Зарегистрироваться'}}
    </div>
</div>