{{!< main}}

<div class="modal-windows">
    <form action="" class="modal-change-password">
        {{> 'title/title' title='Изменение пароля'}}
        {{> 'input/input' title='Старый пароль' name='oldPassword' placeholder-text='введите старый пароль' type='password'}}
        {{> 'input/input' title='Новый пароль' name='newPassword' placeholder-text='введите новый пароль' type='password'}}
        {{> 'input/input' title='Новый пароль (еще раз)' name='verifyNewPassword' placeholder-text='введите новый пароль еще раз' type='password'}}
        {{> 'button/button' title='Сохранить' button-type='submit'}}
        {{> 'button/button' title='Отмена' button-type='button'}}
    </form>
     <form action="" class="modal-change-userdata">
        {{> 'title/title' title='Изменение данных'}}
        {{> 'input/input' title='Фамилия' name='second_name' value='Фамилия' type='text'}}
        {{> 'input/input' title='Имя в чате' name='display_name' value='ИванФамилия' type='text'}}
        {{> 'input/input' title='Логин' name='login' value='login' type='text'}}
        {{> 'input/input' title='Email' name='email' value='ivan@ivan.ru' type='text'}}
        {{> 'input/input' title='Телефон' name='phone' value='+7 (000) 000 00 00' type='text'}}
        {{> 'button/button' title='Сохранить' button-type='submit'}}
        {{> 'button/button' title='Отмена' button-type='button'}}
    </form>
    <form action="" class="modal-change-avatar">
        {{> 'title/title' title='Изменение аватарки'}}
        {{> 'input-file/input-file' name='avatar'}}
        {{> 'button/button' title='Сохранить' button-type='submit'}}
        {{> 'button/button' title='Отмена' button-type='button'}}
    </form>
</div>
