{{!< main}}

<div class="grid">
    <div class="grid__header-sidebar sidebar">
        {{> 'search/search'}}
        {{> 'image-link/image-link' image-alt='Новый чат.' image-src='/src/asserts/icons/new-chat.png'}}
    </div>
    <div class="grid__header-chat">
        {{> 'chat-name/chat-name' chat-avatar='/src/asserts/images/avatar_placeholder.png' chat-name='chat-name'}}
        {{> 'image-link/image-link' image-alt='Меню.' image-src='/src/asserts/icons/menu.png'}}
    </div>
    <div class="grid__chats-list sidebar">
        {{> 'chat-list-item/chat-list-item' }}
        {{> 'chat-list-item/chat-list-item' }}
        {{> 'chat-list-item/chat-list-item' }}
    </div>
    <div class="grid__chat">
        <h1>Тут пока ничего нет...</h1>
    </div>
    <div class="grid__footer-sidebar sidebar">
        {{> 'image-link/image-link' image-alt='Настройки профиля.' image-src='/src/asserts/icons/settings.png'}}
        {{> 'image-link/image-link' image-alt='Выход.' image-src='/src/asserts/icons/logout.png'}}
    </div>
    <div class="grid__footer-chat">
        {{> 'image-link/image-link' image-alt='Прикрепить к сообщению.' image-src='/src/asserts/icons/add.png'}}
        {{> 'message-field/message-field'}}
        {{> 'image-link/image-link' image-alt='Отправить.' image-src='/src/asserts/icons/send.png'}}
    </div>
</div>
