<div class="chat-list-item">
    <img src="https://via.placeholder.com/34" alt="Аватарка." class="chat-list-item__avatar">
    <div class="chat-list-item__chat-name">
        Chat name
    </div>
    <div class="chat-list-item__last-message">
        Lorem, ipsum.
    </div>
    <div class="chat-lilst-item__last-message-time">
        00:00
    </div>
    <div class="chat-list-item__unread-messages-count">
        33
    </div>
</div>
