.message-field {
    justify-self: stretch;
    &__input {
        height: 43px;
        width: 100%;
        border-radius: 12px;
        border: 1px solid $black;
        padding-left: 8px;
    }
}
