<ul>
    <li>
        <a href="./chat/chat.hbs">Страница чата</a>
    </li>
    <li>
        <a href="./login/login.hbs">Страница авторизации</a>
    </li>
    <li>
        <a href="./signup/signup.hbs">Страница регистрации</a>
    </li>
     <li>
        <a href="./profile/profile.hbs">Профиль пользователя</a>
    </li>
    <li>
        <a href="./modal/modal.hbs">Модальные окна</a>
    </li>
    <li>
        <a href="./404/404.hbs">Ошибка 404</a>
    </li>
    <li>
        <a href="./5xx/5xx.hbs">Ошибка 5xx</a>
    </li>
</ul>
