<ul>
    <li>
        <a href="./chat/chat.hbs">Страница чата</a>
    </li>
    <li>
        <a href="./login/login.hbs">Страница авторизации</a>
    </li>
    <li>
        <a href="./signup/signup.hbs">Страница регистрации</a>
    </li>
</ul>