.search {
    justify-self: stretch;
    &__input {
        height: 43px;
        width: 100%;
        background: url(/src/asserts/icons/search.png) no-repeat left center;
        background-size: 32px;
        padding-left: 40px;
        border: 1px solid $black;
        border-radius: 12px;
    }
}
